.operator-table__search {
  width: 300px;
}

.operator-table__title {
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 40px;
}

.operator-table__pagination {
  font-weight: 400;
  line-height: 20px;

  .MuiTablePagination-selectLabel {
    color: #668099 !important;
    font-family: Rubik;
  }

  .MuiSelect-nativeInput {
    color: #292424;
    font-family: Rubik;
  }

  .MuiTablePagination-input {
    color: #292424;
    font-family: Rubik;
  }

  .MuiSvgIcon-root {
    color: #14191f8f;
  }
}

.operator-table__select {
  width: 300px;
}

.operator-control-container {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: baseline;
  padding: 16px;
}

.operator-table__filter {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.9;
  color: #292424;
}

.operator-table__search-input {
  margin: 0 !important;
}

.operator-table__search-input .MuiOutlinedInput-input::placeholder {
  color: #292424;
  opacity: 0.9;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.operator-table__empty-message {
  font-family: Rubik !important;
  color: darkred;
  font-weight: bold;
}
